@import "../../styles/variables";

.header {
  width: 100%;
  padding: 52px 64px;
  background: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 990;

  @media (max-width: 900px) {
    padding: 42px;
  }

  .header__logo {
    a {
      text-decoration: none;
      height: 42px;
    }

    svg {
      height: 42px;
      transition: all 0.5s;

      .logo__text {
        @media (max-width: 900px) {
          display: none;
        }
      }
    }
  }

  .header__navigation {
    a {
      cursor: pointer;
    }

    svg {
      height: 42px;
      transition: all 0.5s;
    }
  }
}
