@import "../../styles/variables";

.header {
  width: 100%;
  padding: 52px 64px;
  background: transparent;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 990;

  @media (max-width: 900px) {
    grid-template-columns: 64px 1fr 1fr;
    padding: 42px;
  }

  .header__logo {
    a {
      text-decoration: none;
      height: 42px;
    }

    svg {
      height: 42px;
      transition: all 0.5s;

      &.header__logo--full {
        display: block;
        @media (max-width: 1024px) {
          display: none;
        }
      }

      &.header__logo--compact {
        display: none;
        @media (max-width: 1024px) {
          display: block;
        }
      }
    }
  }

  .header__title {
    justify-self: center;
    align-self: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    letter-spacing: 6px;

    @media (max-width: 900px) {
      justify-self: flex-start;
    }
  }

  .header__navigation {
    justify-self: flex-end;
    align-self: center;
    a {
      cursor: pointer;
    }

    svg {
      height: 42px;
      transition: all 0.5s;
    }
  }
}
