@import "../../styles/variables";
@import "../../styles/helpers";

.page--concerts {
  background: black;
  background: linear-gradient(
      130deg,
      rgba($color-aqua, 0.7) 0%,
      rgba($color-red, 0.6) 100%
    ),
    url("/static/graphics/hero-about.jpg");
  background-size: cover;
  background-position: center right;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.concerts__loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2;
  color: $color-white;
  letter-spacing: 4px;
  animation: pulse 3s infinite;
}

.concert {
  width: 70vw;
  max-width: 900px;
  margin: 16px auto 0 auto;
  display: grid;
  grid-template-columns: 120px auto 100px;
  border-bottom: 1px solid rgba($color-white, 0.2);
  padding: 24px 42px;
  box-sizing: border-box;
  z-index: 999;

  &:first-child {
    margin-top: 128px;
  }

  &:last-child {
    border: none;
    margin-bottom: 64px;
  }

  @media (max-width: 900px) {
    grid-template-columns: 120px auto;
    width: 100%;
    margin: 12px auto;
  }

  .concert__date {
    color: $color-white;

    .date__day {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .date__monthyear {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  .concert__description {
    p {
      text-transform: uppercase;
      margin: 0;
      font-size: 14px;
    }
  }

  .concert__tickets {
    display: flex;
    align-items: center;
    text-align: right;

    @media (max-width: 900px) {
      display: none;
    }

    a {
      font-weight: bold;
      text-transform: uppercase;
      color: $color-white;
      text-decoration: none;
      padding: 12px 12px 8px 12px;
      border-radius: 16px;
      font-size: 14px;
      line-height: 1.4;
      border: 1px solid transparent;
      transition: all 0.24s;

      &:hover {
        border: 1px solid rgba($color-white, 0.4);
        background: rgba($color-white, 0.1);
      }
    }
  }
}
