@import "../../styles/variables";
@import "../../styles/helpers";

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
.concerts__loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2;
  color: $color-white;
  letter-spacing: 4px;
  animation: pulse 3s infinite;
}

.concert {
  width: 70vw;
  max-width: 900px;
  margin: 32px auto;
  display: grid;
  grid-template-columns: 120px auto 100px;
  border-bottom: 1px solid rgba($color-white, 0.2);
  padding: 42px;
  box-sizing: border-box;
  z-index: 999;

  &:first-child {
    margin-top: 128px;
  }

  &:last-child {
    border: none;
  }

  @media (max-width: 900px) {
    grid-template-columns: 120px auto;
    width: 100%;
    margin: 12px auto;
  }

  .concert__date {
    color: $color-white;

    .date__day {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .date__monthyear {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  .concert__description {
    h2 {
      font-weight: bold;
      font-size: 21px;
      color: $color-white;
      margin: 0 0 8px 0;
    }

    p {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      line-height: 1.2;
    }
  }

  .concert__tickets {
    display: flex;
    align-items: center;
    text-align: right;

    @media (max-width: 900px) {
      display: none;
    }

    a {
      font-weight: bold;
      text-transform: uppercase;
      color: $color-white;
      text-decoration: none;
      padding: 12px;
      border-radius: 24px;
      font-size: 14px;
      line-height: 1.2;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid $color-white;
      }
    }
  }
}
