@import "../../styles/variables";
@import "../../styles/helpers";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

@keyframes flyIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;

  .navigation__background {
    background: $color-black;
    animation: fadeOut 0.5s forwards;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .navigation__menu {
    width: 50vw;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: -50vw;
    position: absolute;
    background: linear-gradient(
        130deg,
        rgba($color-black, 0.5) 0%,
        rgba($color-black, 0.4) 100%
      ),
      url("/static/graphics/img-navigation.jpg");
    background-size: cover;
    background-position: center bottom;
    transition: right 0.24s;
    padding: 128px 48px 48px;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @media (max-width: 1024px) {
      width: 60%;
      right: -60%;
    }

    @media (max-width: 900px) {
      width: 100%;
      right: -100%;
    }

    @media (max-width: 640px) {
      padding: 64px 24px 24px;
    }
  }

  ul.menu__items {
    width: 100%;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;

    @media (max-width: 900px) {
      max-height: 400px;
    }

    li {
      text-align: right;
      margin: 0;
      padding: 20px 0;
      cursor: pointer;
      flex-shrink: 0;
      flex-grow: 0;

      a {
        font-size: 32px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 7px;
        width: 100%;
        padding: 24px 16px;
        box-sizing: border-box;
        transition: color 0.24s;
        text-decoration: none;
        line-height: 1.2;

        svg {
          width: 32px;
          height: 32px;
          fill: $color-white;
          transition: fill 0.24s;
          vertical-align: top;
        }

        @media (max-width: 1200px) {
          font-size: 28px;
          letter-spacing: 6px;

          svg {
            width: 28px;
            height: 28px;
          }
        }

        @media (max-width: 900px) {
          font-size: 21px;
          letter-spacing: 5px;
          text-align: center;

          svg {
            width: 21px;
            height: 21px;
          }
        }

        &:hover {
          color: $color-red;
          svg {
            fill: $color-red;
          }
        }
      }
    }
  }

  &.navigation--active {
    z-index: 1;

    .navigation__background {
      background: $color-black;
      animation: fadeIn 0.5s forwards;
    }

    .navigation__menu {
      right: 0;
    }

    ul.menu__items {
      animation: flyIn 0.5s forwards;
    }
  }
}
