.contact {
  width: 100vw;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("/static/graphics/hero-about.jpg");
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  .decoration {
    position: absolute;
    bottom: -20px;
    right: -20px;

    svg {
      height: 20vh;
      opacity: 0.1;
    }
  }
}
