@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "helpers";

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
}
